<% provide(:title, @customer.company) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <center>
        <h1>
          <%= @customer.company %>
        </h1>
        <h2>
          <%= @customer.address %>
          <br>
            <%= @customer.city %>,
            <%= @customer.state %>
            <%= @customer.zip %>
          <br>
        </h2>
      </center>  
    </section>
  </aside>
</div>
